body {
    background: transparent;
    background-color: rgb(222, 251, 192);
    /* Make it white if you need */
    color: #fcbe24;
    padding: 0 24px;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    gap: 10px;
    background-color: transparent;
}

.container1 {
    height: 100px;
    width: 100px;
    background-color: #fcbe24;
    cursor: pointer;
    border-radius: 50%;
}

.container2 {
    height: 100px;
    width: 100px;
    background-color: #9efc24;
    cursor: pointer;
    border-radius: 20%;
}

.container3 {
    height: 100px;
    width: 100px;
    background-color: #24fcea;
    cursor: pointer;
    border-radius: 50%;
}

.container4 {
    height: 100px;
    width: 100px;
    background-color: #fc24c2;
    cursor: pointer;
    border-radius: 20%;
}

.container5 {
    height: 100px;
    width: 100px;
    background-color: #fc243a;
    cursor: pointer;
    border-radius: 50%;
}